.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
#discord-widget{
    left: 25.4em;
}
.discord-nav-buttons{
    padding: 24px!important; 
    background-color: #7289DA;
    height: 75px; 
    background-position: 8px 24px;
}
.discord-nav-buttons:hover{
    background-color: #7289DA!important;
    filter: brightness(0.75)!important;
}
#learn-button{
    cursor: pointer;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;flex-wrap: nowrap;
}
/*News Page*/
    .article-main-description{
        padding: 16px;
    }
    .sub-news{
        padding: 8px 8px 8px 8px;
    }
    .sub-news > article{
        cursor: pointer;
    }
    #article-banner-container{
        padding: 0 101.5px;
    }
    .article-banner-positioner > *{
        margin: auto;
        display: flex;
        width: 900px;
        height: 500px;
    }
    div[data-main]{
        width: auto;
    }
    div[data-main] > div{
        background-color: #3e4042;
        padding: 24px;
    }
    div[data-article] > article > div > h5{
        margin: 0;
        padding: 0 0 0 5px;
        white-space: nowrap; 
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .article{
        opacity: 0;
        transition: opacity 400ms;
    }
    #news-main-positioner > .focus{
        z-index: 99;
    }
/*Text Effects*/
    .text-outline{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .text-no-style{
        font-style: normal;
    }
    /* Colours corresponding to each player colour in CS:GO */
        .name-blue{
            color: #38F;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        .name-green{
            color: #5B5;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        .name-yellow{
            color: #EE2;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        .name-orange{
            color: #e93;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        .name-purple{
            color: #73B;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

/*Members player profiles*/
    .player-banner img { 
        display: inline-block;
        height: 100%;
    }
    .player-banner{
        background-color: #444647; 
        position: relative; 
        top:-32px;
        height: 200px;
    }
    .player-banner h1{
        font: 4.5em BebasNeue, sans-serif !important;
        display: inline-flex;
        display: -webkit-inline-flex;
        padding: 16px;
        margin: 0;
        
    }
    .player-banner h3{
        font: 2.8em BebasNeue, sans-serif !important;
        display: inline-flex;
        display: -webkit-inline-flex;
        padding: 16px;
        margin: 0;
        vertical-align: bottom;
    }
    .player-slide{
        padding: 32px; 
        width: 100%;
    }
    .player-description{
        background-color: #303133; 
        padding: 32px 10px 24px; 
        position: relative; 
        top: -32px;
        letter-spacing: -1px;
        font: 1.4em 'Amiko', sans-serif;
    }
    
/*Carousel stuff*/
    .carousel-slide > div{
        transition: opacity 400ms;
        opacity: 0;
        position: absolute;
    }
    .carousel-slide > .focus{
        opacity: 1;
        position: absolute;
        pointer-events: auto;
        z-index: 98;
    }
    .carousel-slide{
        pointer-events: none;
    }
    .left{
        left:0;
    }
    .right{
        right:0;
        
    }
    .arrow > img{
        position: relative;
        top: auto;
    }
    .focus{
        opacity: 1!important;  
    }
/*Rotations*/
    .rotate180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    }